.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  
  .spinner {
    width: 80px;
    height: 80px;
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #547489; /* Blue */
    border-radius: 50%;
    animation: spin 0.7s linear infinite; /* Spin animation */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  