.header-container {
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    z-index: 999;
}
header.header {
    padding: 20px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    width: 100%;
    max-width: 1640px;
    align-items: center;
    background: #fff;
    position: relative;
}
.logo img{
    width: 100%;
}
nav.nav {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}
nav.nav a {
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 5px;
    color: #000;
    display: flex;
    justify-content: center;
}
nav.nav a:hover {
    color: #547489;
}
ul.navlist {
    display: flex;
    gap: 30px;
    align-items: center;
}
.others-nav {
    position: relative;
}
.others-nav .others {
    font-size: 17px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
}
ul.nav-drop-down {
    background: #fff;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    text-align: center;
    height: 0px;
    overflow: hidden;
    top: -19px;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    z-index: -1;
}
ul.active-dropdown{
    top: 66px;
    visibility: visible;
    height: fit-content;
    z-index: 0;
}
.active{
    color: #547489 !important;
  }
  .logo {
    width: 100%;
    display: flex;
    max-width: 200px;
    display: flex;
}
.search {
    display: flex;
}
.main-container {
    padding-top: 108.47px;
    background: #fff;
}
ul.lang li {
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #000;
    padding: 5px;
    cursor: pointer;
}
ul.lang li:hover {
    color: #547489;
}
